/* main.css */

@import "tailwindcss";

/* variables CSS pour ton thème */
:root {
  --color-primary: #d16b86;
  --color-primary-dark: #b04b66;
  --color-primary-light: #f3a6b8;
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-surface2: #2C2C2C;

  --font-sans: 'Inter', sans-serif;
}

/* dark mode */
.dark {
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-surface2: #2C2C2C;
}

/* classes utilitaires personnalisées */
.bg-primary { background-color: var(--color-primary); }
.bg-primary-dark { background-color: var(--color-primary-dark); }
.bg-primary-light { background-color: var(--color-primary-light); }
.bg-background { background-color: var(--color-background); }
.bg-surface { background-color: var(--color-surface); }
.bg-surface2 { background-color: var(--color-surface2); }

.text-primary { color: var(--color-primary); }
.text-primary-dark { color: var(--color-primary-dark); }
.text-primary-light { color: var(--color-primary-light); }
.text-background { color: var(--color-background); }
.text-surface { color: var(--color-surface); }
.text-surface2 { color: var(--color-surface2); }

.font-sans { font-family: var(--font-sans); }

body {
  margin: 0px;
}

/* Disable text selection globally */
:global(body) {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    touch-action: manipulation; /* Prevents unwanted gestures */
}

/* Prevent images from being draggable */
:global(img) {
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: none; /* optional if you don't want interaction */
}