[submodule "client/third-party/tfhe-rs"]
	path = client/third-party/tfhe-rs
	url = https://github.com/zama-ai/tfhe-rs.git
[submodule "third-party/tfhe-rs"]
	path = third-party/tfhe-rs
	url = https://github.com/zama-ai/tfhe-rs
[submodule "third-party/pwa-install"]
	path = third-party/pwa-install
	url = git@github.com:Agence-Fluor/pwa-install.git
[submodule "third-party/avataaars-svelte"]
	path = third-party/avataaars-svelte
	url = git@github.com:Agence-Fluor/avataaars-svelte.git
[submodule "third-party/2key-ratchet"]
	path = third-party/2key-ratchet
	url = git@github.com:Agence-Fluor/2key-ratchet.git
